.body {
  margin: 0;
  background-image: url("./images/minecraft_lava.jpg");
  background-size: contain;
  height: 100px;
}

.first-layer {
  background-image: url("./images/minecraft_dirt.jpg");
  height: 100px;
  background-size: contain;
}

.second-layer {
  background-image: url("./images/minecraft_gravel.jpg");
  height: 100px;
  background-size: contain;
}

.third-layer {
  background-image: url("./images/minecraft_stone.png");
  height: 100px;
  background-size: contain;
}

.info {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: black;
  text-align: center;

  font-size: 50px;
  font-family: 'Minecraft', sans-serif;
}
